*{
    font-family: 'Roboto', Arial, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*DESKTOP*/
@media (min-width: 1025px){

    .navigatingDiv {
        display: flex;
        flex-direction: row;
        padding: 60px  70px;
        margin-left: 100px;
    }

    .navigating {
        display: flex;
        flex-direction: column;
        width: 33%;
        gap: 40px;
    }

    .headerDivPicture{
        width: 67%;
        text-align: right;
        max-width: 700px;
    }

    .headerPicture {
        width: 70%; 
        height: auto;
    }

    h1{
        font-size: 60px;
        text-align: left;
    }

    .logosHome{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 100px;
    }

    .servicesMain, .caseStudiesText, .ourWorkingProcess {
        margin-left: 140px;
        align-items: center;
        padding-top: 100px;
    }

    .servicesBlock{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .servicesBlockOne, .servicesBlockTwo, .servicesBlockThree{
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .servicesBlockText, .servicesBlockOneImage {
        padding: 50px;
        font-size: 20px;
    }

    .letsMakeThingsHappenBox{
        display: flex;
        background-color: #F3F3F3;
        border: 1px solid transparent;
        border-radius: 45px;
        margin: 80px;
    }

    .letsMakeTextAndButton {
        display: flex;
        align-items: center; 
        justify-content: space-between;
    }

    .letsMakeText{
        display: flex;
        flex-direction: column;
        max-width: 50%;
        text-align: left;
        gap: 35px;
    }
    
    .letsMakeImg {
        max-width: 20%;
        height: auto;
    }
    
    .caseStudies{
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: #191A23;
        color: #ffff;
        border: 1px solid transparent;
        border-radius: 45px;
        width: 85%;
        padding: 50px 60px;
        margin: 0 auto;
    }

    .caseStudyOne, .caseStudyTwo, .caseStudyThree{
        margin: auto 80px;
        line-height: 1.5;
        gap: 10px;
    }
    
    .caseStudyOne p, .caseStudyTwo p, .caseStudyThree p{
        margin-bottom: 15px;
    }

    .caseStudiesHr{
        width: 2px;
        height: 200px;
        flex-grow: 1;
        border: none;
        background-color: #F3F3F3;
    }

    .ourWorkingProcessBoxes{
        margin: 60px;
        padding: 0 100px 0 50px;
    }

nav {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 20px;
    width: 80%; 
    margin: 0 auto;
}

.navHeader, a{
    margin: 0 12px;
    color: black;
    text-decoration: none;
}


.buttonHeader {
    text-align: center;
    background-color: white;
    border: 1px solid #191A23;
    border-radius: 14px;
    padding: 20px 35px; 
    gap: 10px;
}

.buttonNavigating, .letsMakeButton {
    text-align: center;
    background-color: #191A23;
    color: white;
    border: 1px solid;
    border-radius: 14px;
    padding: 20px 35px;
    align-self: flex-start;
}

.logosHome{
    filter: grayscale(100%); 
}

.servicesMain, .caseStudiesText, .ourWorkingProcess {
    display: flex;
    gap: 25px;
    padding-top: 100px;
    padding-bottom: 50px;
}

.servicesMainH2, .caseStudiesH2, .ourWorkingProcessH2 {
    background-color: #B9FF66;
    font-size: 40px;
    border-radius: 6px; 
}

.servicesBlockOne, .servicesBlockTwo, .servicesBlockThree {
    padding: 20px;
}

.servicesBlockOneFirst, .servicesBlockTwoSecond {
    display: flex;
    background-color: #F3F3F3;
    border: 1px solid;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0px 5px 0px 0px rgba(25, 26, 35, 1);
}

.greenH3{
    background-color: #B9FF66;
    text-align: left;
    border-radius: 6px;
}

.whiteH3{
    background-color: #ffff;
    text-align: left;
    border-radius: 6px;
}

.servicesBlockTextIconBlack, .servicesBlockTextIconWhite {
    width: 17%;
    height: auto;
    padding-top: 18px;
}

.servicesBlockOneImage{
    text-align: right;
}

.servicesBlockOneSecond, .servicesBlockThreeFirst{
    display: flex;
    background-color: #B9FF66;
    border: 1px solid;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0px 5px 0px 0px rgba(25, 26, 35, 1);
}

.servicesBlockTwoFirst, .servicesBlockThreeSecond{
    display: flex;
    background-color: #191A23;
    border: 1px solid;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0px 5px 0px 0px rgba(25, 26, 35, 1);
}

.servicesA{
    color: #ffff;
}

.servicesBlockText {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.servicesIconLink{
    margin-top: auto;
}

.letsMakeThingsHappenBox{
    display: flex;
    background-color: #F3F3F3;
    border: 1px solid transparent;
    border-radius: 45px;
}

.letsMakeTextAndButton{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 0 30px 0;
}

.letsMakeH3{
    font-size: xx-large;
}

.caseStudiesLearnMore{
    color: #B9FF66;
}

.caseStudiesIconBlack{
    width: 25px;
}

.caseStudyOne, .caseStudyTwo{
    padding-bottom: 20px;
}


.ourWorkingProcessBoxOneLabel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: auto; 
}

.ourWorkingProcessBoxOneLabel p:first-child {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.stepText{
    display: flex;
    align-items: center;
    gap: 10px;
}

.toggleButton{
    margin-left: auto;
}

.ourWorkingProcessBoxes{
    border: 1px solid transparent;
    border-radius: 45px;
    background-color: #F3F3F3; 
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 3px 0px 0px rgba(25, 26, 35, 1);
}

.hiddenContent {
    display: none; 
    margin-top: 50px;
    clear: both;
}

.hiddenContent.show {
    display: block; 
}

button {
    border: none;
    background: none;
    cursor: pointer;
    margin-top: 10px;
}

button img {
    width: 30px;
    height: 30px;
}

.ourWorkingProcessBoxes.active {
    background-color: #B9FF66; 
}

.content{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    width: 100%;
    gap: 10px;
}

.ourWorkingProcessHr {
    width: 100%;
    border: none;
    border-top: 1px solid black;
    margin: 10px 0;
}

html {
    scroll-behavior: smooth;
}

html, body {
    overflow-x: hidden;
} 

/*PHONE*/
@media (max-width: 430px){

    nav {
        flex-direction: column; 
        align-items: center; 
        padding: 10px;
        width: 100%; 
    }
    
    .navHeader{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        gap: 10px;
    }
    
    .navigatingDiv{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        padding-top: 20px;
    }

    .navigating {
        text-align: center;
        padding: 0 20px;
        line-height: 1.5;
    }
      
    .headerPicture {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
    }

    .logosHome{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 30px;
        gap: 20px;
    }

    .servicesMain, .caseStudiesText,.ourWorkingProcess {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .servicesMainH2, .caseStudiesH2, .ourWorkingProcessH2 {
        display: inline-block;
    }

    .servicesBlockOne, .servicesBlockTwo, .servicesBlockThree{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .servicesBlockImage{
        width: 70%;
        height: auto;
    }

    .letsMakeThingsHappen{
        padding-left: 20px;
        padding-right: 20px;
    }

    .letsMakeThingsHappenBox {
        flex-direction: column; 
        align-items: center; 
        text-align: center;
    }

    .letsMakeTextAndButton {
        max-width: 90%; 
        text-align: center;
    }

    .letsMakeText{
        margin: 20px;
    }

    .letsMakeImg {
        max-width: 60%; 
        margin-top: 20px; 
    }

    .caseStudies{
        display: flex;
        flex-direction: column;
        background-color: #191A23;
        color: #ffff;
        border: 1px solid transparent;
        border-radius: 45px;
        padding: 20px;
        margin: 20px;
    }

    .caseStudiesHr{
        width: 100%;
        border: none;
        border: 1px solid #F3F3F3;
        margin: 10px 0;
    }

    .ourWorkingProcessHr{
        margin: 20px;
    }

    .ourWorkingProcessBoxes{
        margin: 20px;
    }
    

/*TABLET*/
@media (min-width:431px) and (max-width:1024px) {

    .header {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .headerPicture {
        width: 50%; 
        height: auto;
    }
    
    .navigatingDiv{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 30px;
    }

    .logosHome{
        padding-left: 30px;
        display: flex;
        gap: 20px;
    }

    .servicesMain, .caseStudiesText, .ourWorkingProcess {
        margin-left: 20px;
        align-items: center;
        padding-top: 80px;
    }

    .servicesBlockOne, .servicesBlockTwo, .servicesBlockThree{
        display: flex;
        gap: 40px;
    }

    .letsMakeThingsHappenBox{
        margin: 20px;
    }

    .caseStudies{
        display: flex;
        flex-direction: column;
        background-color: #191A23;
        color: #ffff;
        border: 1px solid transparent;
        border-radius: 45px;
        padding: 20px;
        margin: 20px;
    }

    .caseStudiesHr{
        width: 100%;
        border: none;
        border: 1px solid #F3F3F3;
        margin: 10px 0;
    }

    .ourWorkingProcessBoxes {
        margin: 20px;
    }


}
}
}